*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    height: 100vh;
}
.navbar{
    background-color: aqua;
    height: 90px;
    text-align: center;
    padding: 10px;
}
.headbutton{
    text-decoration: none;
    font-size: large;
    padding: 10px;
}
.hbtn{
    padding-right: 40px;
    text-decoration: none;
    color: brown;
}
.navbar-title{
    color: black;
    padding: 5px;
}
.main-class{
    text-align: center;
    font-size: 40px;
    color: white;
}
.page-1{
    margin: 10px;
    padding: 0;
    background-image: url(MyportfolioImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    padding: 100px;
    color: rgb(253, 252, 252);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
    height: 65vh;
}
.page-2{
    margin: 10px;
    background-image: url(BackgroupImageMyportfolio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    color:beige;
    padding: 30vh;
    text-align: center;
    height: 35vh;
    border: 3px solid black;
    border-radius: 30px;
}
.page-3{
    margin: 10px;
    text-align: center;
    color: rgb(13, 13, 14);
    background-color: blanchedalmond;
    height: 80vh;
    border: 3px solid rgb(241, 237, 237);
    border-radius: 30px;
    padding-top: 100px;
    padding-inline: 100px;
}
.page-4{
    text-align: center;
    height: 100vh;
    margin: 10px;
    border: 3px solid rgb(241, 237, 237);
    border-radius: 30px;
    background-color:cornflowerblue;
    font-size: large;
    font-weight: 100;
    font-style: oblique;
    font-variant: normal;

}
.page-4Text{
    margin: 10px;
    padding: 180px;
}