*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: black;
    background-image: url(BackgroupImageMyportfolio.jpg);
}
.navbar{
    background-color: aqua;
    height: 90px;
    text-align: center;
    padding: 10px;
}
.headbutton{
    text-decoration: none;
    font-size: large;
    padding: 10px;
}
.hbtn{
    padding-right: 40px;
    text-decoration: none;
    color: brown;
}
.navbar-title{
    color: black;
    padding: 5px;
}
.main-class{
    text-align: center;
    font-size: 40px;
    color: white;
}